@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/s/29460/Best Signature Font - Reguler.woff');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Inter", sans-serif;
    /* background: rgb(131,58,180);
    background: -moz-radial-gradient(circle, rgba(131,58,180,0.06206232492997199) 0%, rgba(180,252,69,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(131,58,180,0.06206232492997199) 0%, rgba(180,252,69,0) 100%);
    background: radial-gradient(circle, rgba(131,58,180,0.06206232492997199) 0%, rgba(180,252,69,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#b4fc45",GradientType=1); */
    
    background: rgb(180,170,58);
background: -moz-radial-gradient(circle, rgba(180,170,58,0.08) 0%, rgba(180,252,69,0) 100%);
background: -webkit-radial-gradient(circle, rgba(180,170,58,0.08) 0%, rgba(180,252,69,0) 100%);
background: radial-gradient(circle, rgba(180,170,58,0.08) 0%, rgba(180,252,69,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4aa3a",endColorstr="#b4fc45",GradientType=1);

}
.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .sig-text{
    font-family:'best signature font' ,cursive;
  }

  .background{
    background-color: rgba(32, 32, 32, 0.438);
  }
  span.span + img#arrow {
    transition: transform 300ms;
    transform: translateX(0);
}

span.span:hover + img#arrow {
    transform: translateX(10px);
}



@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes coldblue {
  0%, 100% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgb(198, 23, 23);
  }
}

.input::placeholder{
  font-size: smaller;
}

.input{
  outline: none;
  caret-color: red;
}

.error{
  animation: fade-in 400ms ease ;
}

@keyframes fade-in{
  
0%{
  opacity: 0%;
}

0%{
  opacity: 100%;
}

}



.card-bg{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(61deg, rgba(255,255,255,0) 0%, rgba(205,238,90,0.04805672268907568) 100%);
  background: -webkit-linear-gradient(61deg, rgba(255,255,255,0) 0%, rgba(205,238,90,0.04805672268907568) 100%);
  background: linear-gradient(61deg, rgba(255,255,255,0) 0%, rgba(205,238,90,0.04805672268907568) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cdee5a",GradientType=1);
}


.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  width: 32px;
  height: 32px;
  border-radius: 999px;

}


.tooltip {
  --background-tooltip: #6e7681;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  overflow: visible;
  background: var(--background-tooltip);
  color: white; 
  width: auto;
  height: 30px;
  font-size: 11px;
  text-align: center;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}



/* Loader */
.loader {
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 3px solid rgb(255,255,255,.2);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

/* toggleButton */
/*------ Settings ------*/
.container {
  --color: #b5b5d4;
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .moon {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .moon {
  display: none;
}

.container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}


.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  /* background-color: #15202b; */
  /* background-color: #22303c; */
  background-color: #192734;
  color: #ffffff;
}

.header.light, .footer.light {
  background-color: #f0f0f0;
  color: #000000;
}

.header.dark, .footer.dark {
  background-color: #444444;
  color: #ffffff;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  text-align: center;
  margin-top: 50px;
}